{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}


{% extends "_layout" %}
{% set title = craft.request.getPathInfo() %}


{% block content %}
  <div>


    {% for entry in craft.entries.section(title).find() %}
    {% set video = entry.video.first() %}
    {% set image = entry.image.first() %}
    {% set tags = entry.tags.first() %}

    <!-- Picture header area -->
    {% if tags == "pictureArea" %}

      <div class="hero full" data-parallax="scroll" data-image-src="{{image.url}}" >
        <div class="wrapper middle pad">
          <h1>
          {{entry.title}}
          </h1>
          <div style="width:100%;max-width:350px;">
          {{entry.body}}
        </div>
          <a class="button" href="#">Get your data score</a>
        </div>

      </div>

    {% endif %}

    {% if tags == "textArea" %}

      <div class="full white-bg" data-parallax="scroll" style="background:white;">
        <div class="wrapper middle pad white-bg">
          <h1>
          {{entry.title}}
          </h1>
          <div style="width:100%;">{{entry.body}}</div>
        </div>
      </div>

    {% endif %}


      <!-- For regular posts -->
      {% if tags == "post"%}
  		<article>
  			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
  			{{ entry.body.getPage(1) }}
  			<p><a href="{{ entry.url }}">Continue reading</a></p>
  		</article>
      {% endif %}

      <!-- for video posts -->
        {% if tags == "videoObject"%}
        <div class="intro full">
          <div class="wrapper middle pad">
            <h3 class="center">{{entry.title}}</h3>
            <video class="middle" width="500" height="281" frameborder="0" controls>
              <source src="{{video.url}}" type="video/mp4">
              Your browser does not support HTML5 video. Please download a modern browser, like <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>.
            </video>
          </div>
        </div>
        {% endif %}

        {% if tags == "pictureObject" %}
        <div class="full slide darkgray-txt center score-pane" style="background:white;" >

          <a class="datascore middle lightgray-bg" >
            <img class="full" src="{{image.url}}">
          </a>
          <h3>{{entry.title}}</h3>
          <p>{{entry.body}}</p>
          <p>
            <a href="#">Learn more</a>
          </p>

        </div>
        {% endif %}

        <!--  List object,  must have a list parent, with the objects as children-->
        {% if tags == "listParent" %}
        <div class="full pad middle" style="background:white; padding:40px;">
          <h2>{{entry.title}}</h2>
        {% set entries = entry.getChildren() %}
        {% for entry in entries %}
          <div class="full wrapper" ng-repeat="member in team.members">
          	<a class="quarter pad" href="#" target="_blank">
          		<img class="full" style="border-radius: 5px;" src="{{entry.image.first.url()}}" alt="Scott Slinker portrait">
          	</a>
          	<div class="threequarter pad">
          		<h3>
          			<a href="#" target="_blank" class="ng-binding">{{entry.fullname}}</a>
          		</h3>
          		<h4 class="ng-binding">{{entry.position}}</h4>
          		<p>
          			<b>Most proud of:</b> <i class="ng-binding">{{entry.mostproudof}}</i><br>
          			<b>Favorite music:</b> <i class="ng-binding">{{entry.favoritemusic}}</i><br>
          			<b>Favorite weekend activity:</b> <i class="ng-binding">{{entry.favoriteweekendactivity}}</i>
          		</p>
          	</div>
          </div>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Three Wide Grid -->
      {% if tags == "threeWideGrid" %}
      <div class="full" style="background:white;">
        <h3 class="center">{{entry.title}}</h3>
          <div class="full">
      {% set entries = entry.getChildren() %}
      {% for entry in entries %}

        <div class="third pad center">
          <img class="paradata-icon" src="{{entry.image.first.url()}}">
          <p>{{entry.body}}</p>
        </div>

      {% endfor %}
      </div>
    </div>
    {% endif %}



        {% if tags == "dualPane" %}
            <div class="lightgray-bg full">
        		<div class="wrapper">
        			<div class="half pad link">
        				<contact class="full"><div class="full">
        	<p class="ng-binding">Paradata </p>
        	<!-- ngRepeat: location in client.locations --><p ng-repeat="location in client.locations" class="ng-scope">
        		<a href="https://goo.gl/maps/4d6BKC2FUJE2" target="_blank" class="ng-binding">
        			200 North Almaden Blvd #250<br>
        			San Jose, CA 95110
        		</a>
        	</p><!-- end ngRepeat: location in client.locations -->
        	<p>
        		<a href="tel:1-408-791-2070" class="ng-binding">408-791-2070</a><br>
        		<a href="mailto:info@paradata.io" class="ng-binding">info@paradata.io</a>
        	</p>
        </div></contact>
        			</div>
        			<div class="half pad link">
        				<a href="http://finixcreative.github.io/paradata/assets/images/graphics/map.png" target="_blank">
        					<img class="full" src="assets/images/graphics/map.png">
        				</a>
        			</div>
        		</div>
        	</div>
        {% endif %}






  	{% endfor %}


  </div>
{% endblock %}
